
.my-projects {
  background-color: #a9a9a9;
  color: #fff;
  text-align: center;
}

.Portfolio {
  display: grid;
  grid-template-column: repeat(auto-fit, minmax(300px, 1fr));
}

.Portfolio__item {
  background-color: #FF44CC;
  overflow: hidden;
}

.Portfolio__image {
  transition:
    transform 750ms cubic-bezier(.5, 0, .5, 1),
    opacity 250ms linear;
}

.Portfolio__item: focus {
  position: relative;
  z-index: 2;
}


.Portfolio__image: hover,
.Portfolio__item: focus .Portfolio__image{
  transform: scale(1.2);
  opacity: .5;
}

/*  footer */

.footer {
  background-color: #a9a9a9;
  color: #FF44CC;
  text-align: center;
  padding: 0;
  font-weight: var(--fw-bold);
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer__link {
  font-size: var(--fs-h3);
}

.footer__link: hover,
.social-list__link: hover {
  opacity: .7;
}

.footer__link: hover {
  text-decoration: underline;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.social-list__items {
  margin: 0 .5em;
}

:root.neon {
  --background-color: #101b37;
  --text-color: #fff;
  --shade-100: #101b37;
  --shade-300: #4b4bfb;
  --shade-500: hsl(190, 99%, 47%);
  --secondary-color: #e41376;
  --grey-color: hsl(190, 99%, 30%);
  --grey-text: #fff;
  --neon-color: #e41376;
}

.neon-path {
  display: none;
}

.neon body {
  font-family: "Orbitron", sans-serif;
}

.neon body::before,
.neon body::after {
  content: "";
  position: fixed;
  top: 0;
  width: 10px;
  z-index: 99;
  background-color: var(--neon-color);
  height: 100vh;
  box-shadow: 0 0 15px 0 var(--neon-color);
}

@media screen and (max-width: 720px) {
  .neon body::before,
  .neon body::after {
    width: 5px;
  }

  .neon .project-content-container {
    border: 1px solid var(--shade-300);
  }
}

.neon body::before {
  left: 0;
}

.neon body::after {
  right: 0;
}

.neon h1,
.neon .section-title {
  text-shadow: 2px 1px var(--neon-color);
}

.neon .arrow {
  color: var(--neon-color);
}

.neon .link-btn {
  border-color: var(--neon-color);
  color: var(--shade-500);
}

.neon .nav-links a {
  text-shadow: 1px 1px var(--neon-color);
}

.neon ::marker {
  color: var(--secondary-color);
}

.neon a {
  text-decoration-color: var(--neon-color) !important;
}

.neon img:not(.img-404) {
  box-shadow: 10px 10px 0 0 var(--neon-color);
}

.neon .neon-path {
  display: block;
}

.neon .wave-border path:not(.neon-path) {
  display: none;
}

.neon input[value="all"]:checked ~ .post-tags label[data-post="all"],
.neon
  input[value="javascript"]:checked
  ~ .post-tags
  label[data-post="javascript"],
.neon
  input[value="portfolio"]:checked
  ~ .post-tags
  label[data-post="portfolio"],
.neon
  input[value="conferences"]:checked
  ~ .post-tags
  label[data-post="conferences"] {
  border-color: var(--neon-color);
  color: var(--shade-500);
}

.neon .input-container.focused .form-input {
  border-color: var(--neon-color);
}

.neon .focused label {
  border: 1px solid var(--neon-color);
  border-bottom-color: transparent;
}

.neon .article-content,
.neon .card-content {
  border: 1px solid var(--shade-300);
}

#neon-select .color.text {
  background-color: #fff;
}
#neon-select .color.shade-100 {
  background-color: #101b37;
}
#neon-select .color.shade-300 {
  background-color: #4b4bfb;
}
#neon-select .color.shade-500 {
  background-color: #01c8ee;
}
#neon-select .color.background {
  background-color: #e41376;
}
